# Bo qua cac thu muc nang cua Unity o tat ca cac project con
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Mm]emoryCaptures/
**/[Uu]serSettings/

# Bo qua cac file tam cua he thong va trinh bien dich
**/.vs/
**/ExportedObj/
**/.consulo/
**/*.csproj
**/*.unityproj
**/*.sln
**/*.suo
**/*.tmp
**/*.user
**/*.userprefs
**/*.pidb
**/*.booproj
**/*.svd
**/*.pdb
**/*.mdb
**/*.opendb
**/*.VC.db